
@{
    ViewBag.Title = "Index";
}

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__main kt-align-center"  style="margin: 0 auto">
                <h3 class="kt-subheader__title">Frequently Asked Questions</h3>
            </div>
        </div>
    </div>


    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-faq-v1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label"style="margin: 0 auto">
                    <h3 class="kt-portlet__head-title" >
                        FREQUENTLY ASKED QUESTIONS
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body" style="line-height:30px; font-size:1.2rem">
                <div class="row">
                    
                    <div class="col-xl-9">
                        <div class="kt-login__title text-center mt-3 kt-mb-15">
                            <div class="kt-divider">
                                <span></span>
                                <h4 class="p-3"><span>FAQ About Services</span></h4>
                                <span></span>
                            </div>
                        </div>
                        <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample1">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        <i class="flaticon-cogwheel-1"></i>
                                        How long will the repairs take?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p style="font-size:1.2rem">
                                            Time needed by a vehicle to completely get repaired typically depends upon the level of repair required and availability of auto parts etc. Visit the shop and our technicians will carefully examine your vehicle and provide you with an accurate time estimate.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                        <i class="flaticon-cogwheel-1"></i>
                                        Are Our Service Providers open on Saturdays?
                                    </div>
                                </div>
                                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p style="font-size:1.2rem">
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree1">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                        <i class="flaticon-cogwheel-1"></i>
                                        Is there a warranty on the repairs to my vehicle?
                                    </div>
                                </div>
                                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p style="font-size:1.2rem">
                                            Yes. Our Service Providers guarantee all repairs with a Limited Warranty.Parts are not covered by this warranty and default to the manufacturer's warranty.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingfour1">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapsefour1" aria-expanded="false" aria-controls="collapseThree1">
                                        <i class="flaticon-cogwheel-1"></i>
                                        Can i get a ride home when i drop off my car?
                                    </div>
                                </div>
                                <div id="collapsefour1" class="collapse" aria-labelledby="headingfour1" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p style="font-size:1.2rem">
                                            Yes, we would be happy to provide this service to you. We want each customer's visit to be a positive experience and will work diligently towards that goal.  We provide a pickup and delivery service with prior arrangements.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
