
@{
    ViewBag.Title = "Index";
}

<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto">
            <h2 class="kt-subheader__title kt-align-center">Terms and Conditions</h2>
        </div>
    </div>
</div>
<!-- end:: Subheader -->
<div class="kt-container ">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label" style="margin: 0 auto" >
                <h3 class="kt-portlet__head-title">
                    TERMS AND CONDITIONS OF USE OF SIGN-UP TO AUTOSOLUTION
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body mt-3">
            <!--begin::Section-->
            <div class="kt-section">
                <div class="kt-section__content" style="line-height:30px; font-size:1.2rem">
                    
                    <div class="alert alert-solid-dark alert-bold" role="alert">
                        <div class="alert-icon"><i class="flaticon-information fa-3x"></i></div>
                        <div class="alert-text">
                            <p>
                                PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE REGISTERING WITH AutoSolution.com. ALL AutoSolution.com SERVICES PROVIDED TO YOU ARE SUBJECT TO THESE TERMS. WE SUGGEST THAT YOU PRINT OUT AND KEEP A COPY OF THESE TERMS AND CONDITIONS. PLEASE PAY PARTICULAR ATTENTION TO THESE POINTS.
                            </p>
                        </div>
                    </div>
                    <ul class="fa-ul" style="color:#48465b">
                        <li>
                            <span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>we collect and use personal data only as it might be needed for us to deliver to you our world-class products, services and websites (collectively, our “Services”). Your personal data includes information such as:
                            <ul>
                                <li>– Name</li>
                                <li>– Address</li>
                                <li>– Telephone number</li>
                                <li>– Date of birth</li>
                                <li>– Email address</li>
                                <li>– Other data collected that could directly or indirectly identify you.</li>
                            </ul>
                            However, we also collect additional information when delivering our Services to you to ensure necessary and optimal performance.
                        </li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>Cookies and similar technologies on our website allow us to track your browsing behaviour, links clicked, items purchased, your device type, and to collect various data, including analytics, about how you use and interact with our Services. This allows us to provide you with more relevant product offerings and services, analyse and improve the performance of our Services.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>We may share your personal data with affiliated companies within our corporate family, with third parties with which we have partnered to allow you to integrate their services into our own Services, and with trusted third party service providers.We only share your personal data as necessary for any third party to provide the services as requested or as needed on our behalf. These third parties (and any subcontractors) are subject to strict data processing terms and conditions and are prohibited from utilising, sharing or retaining your personal data for any purpose other than as they have been specifically contracted for (or without your consent). Please contact us if you would like further information</li>

                        <li>
                            <span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>We may contact you directly or through a third party service provider regarding products or services you have signed up or purchased from us, such as necessary to deliver transactional or service related communications. We may also contact you with offers for additional services we think you’ll find valuable if you give us consent, or where allowed based upon legitimate interests. You don’t need to provide consent as a condition to purchase our goods or services. These contacts may include:
                            <ul>
                                <li>– Email</li>
                                <li>– Text (SMS) messages</li>
                                <li>– Telephone calls</li>
                                <li>– Automated phone calls or text messages</li>
                            </ul>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>You can easily access, view, update, delete  your personal data.Please sign into your Account and use your account settings.
                            If you make a request to delete your personal data and that data is necessary for the products or services you have purchased, the request will be honoured only to the extent it is no longer necessary for any Services purchased or required for our legitimate business purposes or legal or contractual record keeping requirements.
                            If you are unable for any reason to access your Account Settings you may also contact us by one of the methods described in the “Contact Us” section.
                        </li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>Our Services are available for purchase only for those over the age of 16.  Our Services are not targeted to, intended to be consumed by or designed to entice individuals under the age of 16. If you know of or have reason to believe anyone under the age of 16 has provided us with any personal data, please contact us. </li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>We reserve the right to modify this Privacy Policy at any time. If we decide to change our Privacy Policy, we will post those changes to this Privacy Policy and any other places we deem appropriate, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. If we make material changes to this Privacy Policy, we will notify you here, by email, or by means of a notice on our home page, at least thirty (30) days prior to the implementation of the changes.</li>
                        <li>
                            <span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>If you have any questions, concerns or complaints about our Privacy Policy, our practices or our Services, you may contact our Office by email at AutoSolutionPrivacy@gmail.com.In the alternative, you may contact us by either of the following means:

                            <ul>
                                <li>- 5th Floor, The Shipping Building, Old Vinyl Factory, 252-254 Blyth Road, Hayes, UB3 1HA</li>
                            </ul>
                            We will respond to all requests, inquiries or concerns within thirty (30) days.
                        </li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>If you wish to cancel your account you can do so at any time with 30 days notice. Cancellations can only be made by sending an email to cancel@sign-up.to from the email address of the account administrator, for your security we will not accept verbal cancellation instructions. Cancellation will not be finalised until all outstanding invoices are paid. For annual contracts the full balance of the remaining contract period must be paid prior to cancellation.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>Your acceptance of the Terms of Use shall be indicated by you clicking on the “Accept” box at the bottom of this document and your continued use of the Services. If you do not accept all the Terms of Use, you must click the “Decline” box at the bottom of this document and you must not continue to register to use the Services.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>We may change or add to these Terms of Use for security, legal or regulatory reasons. We will inform you of any changes that we intend to make by posting a notice of the Site at least 14 days before we make any changes.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span> You agree that you will register in your own name only and all information provided by you will be accurate and up-to-date. You agree to promptly update any of your details on the Site as necessary.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>You may not transfer your membership to another person.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span> You are responsible for maintaining the confidentiality of your password and for all use of the Services made through your password. You agree to keep your password secret at all times and must inform us, and promptly change your password, if you believe that another person has become aware of your password or is using it or is likely to use it in an unauthorised way.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span> All information, data and materials used in the Services (including materials accessible on the Site and the software used to access the Services) are protected by rights, including copyright, design rights, database rights and trade marks. All these rights are either owned by us or licensed to us by the rights owner(s) for use with the Services or otherwise used by us as permitted by applicable law.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span> Your access to the Services may be occasionally restricted to allow for repairs, maintenance, the introduction of new facilities or services, or due to events beyond our reasonable control. Where this happens, we will attempt to restore the Services as soon as we reasonably can.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>We may suspend access to the Services or require you to change your password if we reasonably believe that the Services have been or are likely to be misused, and we will notify you accordingly.</li>
                        <li><span class="fa-li"><i class="fa fa-arrow-alt-circle-right mr-3"></i></span>We may terminate the Services and this agreement between us by giving you 14 days notice.</li>
                    </ul>
                </div>
            </div>
            <!--end::Section-->
        </div>
    </div>
</div>


