
@{
    ViewBag.Title = "check";
}

    <style>


        
    /** {
      margin: 0;
      padding: 0;
    }
    h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 16px;
}*/


/*added*/
    .header_top,#about , #column{
      background: #011f4b;
    }


    /*#header_top_4 .social-share li {
      display: inline-block;
      margin-left: 1em
    }

    #header_top_4 .social-share {
      text-align: right;
      margin: .8em;
      font-size: 13px;
      font-weight: 300;
    }

    #header_top_4 .social-share li a .fa {
      margin-right: .5em
    }

    #header_top_4 .container-fluid .social-share li a {
      color: white;
      width: 40px;
      height: auto;
      border: none;
      line-height: 0;
      margin-left: 0;
    }

    #header_top_4 .social-share li a:hover {
      background: transparent;
      color: #0488C6;
    }

    #header-4 nav.navbar.bootsnav {
      background-color: #f6f6f6;
    }



    .social-icons {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none
    }

    .social-icons li {
      display: inline-block;
      margin-bottom: 4px
    }

    .site-footer .social-icons {
      text-align: right
    }

    .social-icons a {
      background-color: #eceeef;
      color: #818a91;
      font-size: 15px;
      display: inline-block;
      line-height: 35px;
      width: 35px;
      height: 35px;
      text-align: center;
      margin-right: 8px;
      border-radius: 100%;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear
    }

    .social-icons a:active,
    .social-icons a:focus,
    .social-icons a:hover {
      color: #fff;
      background-color: #29aafe;
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
    }

    .social-icons a.facebook:hover {
      background-color: #3b5998;
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
    }

    .social-icons a.twitter:hover {
      background-color: #00aced
    }

    .social-icons a.linkedin:hover {
      background-color: #007bb6
    }

    .social-icons a.dribbble:hover {
      background-color: #ea4c89
    }*/

    /*.site-footer {*/
      /*background:url(bg6.jpg);
      background-size: cover;
      color:white;
      */
      /*background: #011f4b;
      padding: 10px 0 10px;
      font-size: 14px;
      line-height: 22px;
      color: #737373;

    }*/

    /*.copyright-text {
      margin-top: 5px;
    }

    .social-icons li.title {
      margin-right: 15px;
      text-transform: uppercase;
      color: #96a2b2;
      font-weight: 700;
      font-size: 13px
    }

    .site-footer hr {
      border-top-color: #bbb;
      opacity: 0.5
    }



    .heading{
	margin-bottom:60px;
}

.heading h2{
	color:#222;
	font-weight:600;
	text-transform:uppercase;
}

.heading span{
	color:#011FAC;
}

.p_t_b{
	padding:100px 0;
}
.heading_center .center_title,
.heading_left .center_title{
	position: relative;
	display:inline-block;
}
.heading_center .center_title::before{
	content: "";
	position: absolute;
	height: 1px;
	background: #011FAC;
	width: 100px;
	top: 9px;
	right: 25px;
}

.heading_center .center_title::after{
	content: "";
	position: absolute;
	height: 1px;
	background: #011FAC;
	width: 100px;
	top: 9px;
	left: 25px;
}

.heading_center .center_title span::after {
	content: "";
	position: absolute;
	height: 1px;
	background: #011FAC;
	width: 70px;
	bottom: 8px;
	right: 26px;
}


.heading_center .center_title span::before {
	content: "";
	position: absolute;
	height: 1px;
	background: #011FAC;
	width: 70px;
	bottom: 8px;
	left: 26px;
}*/

/*.team-desc {
    background: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.team-name {
    padding: 10px 0;
}
.team-position p {
    color: #d44457;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}*/





/*.service-area {*/
   /* background: rgba(0, 0, 0, 0) url("bg6.jpg") no-repeat scroll center center;*/
   /*background: #011f4b;
}*/

/*.section-padding {
    padding: 120px 0px;
}
a {
    transition: all 0.5s ease 0s;
}
a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}*/
/*.section-heading h2 {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-bottom: 18px;
    position: relative;
    text-transform: capitalize;
}
.section-heading.light h2 {
    color: #fff;
}
.section-heading h2::after {
    background-image: url("img/bg/section-border.png");
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 64px;
}
.section-heading.text-center h2::after {
    margin: auto;
    right: 0;
}
.section-heading.light h2::after {
    background-image: url("section-border-light.png");
    right: 0;
}
.section-heading.no-margin h2 {
    margin-bottom: 0;
}
.section-heading h2 span {
    color: #ee2050;
}*/
/*.overlay {
    position: relative;
    z-index: 1;
}
.overlay::after {
    background-color: #24273e;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.92;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}*/
/*.spacer {
    margin-bottom: 30px;
}*/
/*a#scrollUp {
    background-color: #ee2050;
    border: 1px solid #ee2050;
    bottom: 90px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    right: 30px;
    text-align: center;
    width: 40px;
}
p.form-messege {
    margin-top:15px;
    font-size:20px;
}
p.success {
    color: #18a15f;
}
p.error {
    color: #f00;
}

.single-service {
    margin-top: 100px;
    padding-right: 30px;
}
.single-service .icon-title {
    margin-bottom: 30px;
    overflow: hidden;
}*/
/*.single-service .icon-title h3 {
    color: #fff;
    float: left;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 2px;
    padding-left: 20px;
}*/
/*.single-service .icon-title i {
    color: #fff;
    float: left;
    font-size: 32px;
    transition: all 0.5s ease 0s
}*/
/*.single-service:hover .icon-title i {
    color: #ee2050
}*/
/*.single-service p {
    color: #fff;
    margin-bottom: 0;
}*/

/*added*/
.height , #column{
            min-height: 100vh;
        }

/*.about-picture {
            background-image: url("20.jpg");
            object-fit:contain;
            background-size:cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

        #about p{
          color: white;
        }*/



        /*added*/
        .inner {
            overflow: hidden;
        }
       /*added*/
        .inner img {
            transition: all 1.5s ease;

        }
        /*added*/
        .inner img:hover {
            transform: scale(1.5);
        }

    </style>
<div id="column">
    <div class="container">
        <h2>
            <p class="text-center text-white p-4 m-4">POPULAR VENDOR CATEGORIES</p>
        </h2>
        <div class="card-deck">
            <div class="card">
                <div class="inner"><img class="card-img-top rounded" src="4.jpg" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum </h5>

                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <img class="card-img-top rounded" src="/AutoSolution/images/Self/7.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum </h5>
                    <p class="card-text text-center">Don't just copy the code from the course — you will truly understand how each technology actually works!</p>
                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <img class="card-img-top rounded" src="/AutoSolution/images/Self/9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum </h5>
                    <p class="card-text text-center">Got stuck and can't move on in the course? Don't worry, I got your back! I offer full personal support in my courses.</p>
                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <img class="card-img-top rounded" src="/AutoSolution/images/Self/9.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum </h5>
                    <p class="card-text text-center">Got stuck and can't move on in the course? Don't worry, I got your back! I offer full personal support in my courses.</p>
                </div>
            </div>
        </div>
        <div class="card-deck mt-5">
            <div class="card">
                <div class="inner"><img class="card-img-top rounded" src="/AutoSolution/images/Self/10.jpg" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum </h5>
                    <p class="card-text text-center">All my courses are sturctured around real-world projects, so that you get the real coding experience that you need. ever since the 1500s.</p>
                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <img class="card-img-top rounded" src="/AutoSolution/images/Self/11.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum </h5>
                    <p class="card-text text-center">Don't just copy the code from the course — you will truly understand how each technology actually works!</p>
                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <img class="card-img-top rounded" src="/AutoSolution/images/Self/12.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum</h5>
                    <p class="card-text text-center">Got stuck and can't move on in the course? Don't worry, I got your back! I offer full personal support in my courses.</p>
                </div>
            </div>
            <div class="card">
                <div class="inner">
                    <img class="card-img-top rounded" src="/AutoSolution/images/Self/13.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Lorem Ipsum</h5>
                    <p class="card-text text-center">Got stuck and can't move on in the course? Don't worry, I got your back! I offer full personal support in my courses.</p>
                </div>
            </div>
        </div>
</div></div>