
@{
    ViewBag.Title = "check";
}




<!-- Colors -->
<link rel="stylesheet" type="text/css" href="~/stylesheets/colors/color1.css" id="colors">

<!-- Animation Style -->
<link rel="stylesheet" type="text/css" href="~/stylesheets/animate.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu">
                    <ul class="kt-menu__nav ">

                        <li class="kt-menu__section ">
                            <h2 class="kt-menu__section-text">Components</h2>
                            <i class="kt-menu__section-icon flaticon-more-v2"></i>
                        </li>

                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="la la-leaf"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Fluid Pricing Table
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-pricing-1">
                        <div class="kt-pricing-1__items row">
                            <div class="kt-pricing-1__item col-lg-3">

                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<h2 class="kt-pricing-1__subtitle">1 End Product License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum aret</span>
                                        <span>sed do eiusmod</span>
                                        <span>magna siad ali</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-brand btn-custom btn-pill btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<div class="kt-pricing-1__visual">
                                        <div class="kt-pricing-1__hexagon1"></div>
                                        <div class="kt-pricing-1__hexagon2"></div>
                                        <span class="kt-pricing-1__icon kt-font-success"><i class="fa flaticon-confetti"></i></span>
                                    </div>
                                    <span class="kt-pricing-1__price">69<span class="kt-pricing-1__label">$</span></span>
                                    <h2 class="kt-pricing-1__subtitle">Business License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum</span>
                                        <span>sed do eiusmod</span>
                                        <span>magna siad enim aliqua</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-success btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<div class="kt-pricing-1__visual">
                                        <div class="kt-pricing-1__hexagon1"></div>
                                        <div class="kt-pricing-1__hexagon2"></div>
                                        <span class="kt-pricing-1__icon kt-font-danger"><i class="fa flaticon-rocket"></i></span>
                                    </div>
                                    <span class="kt-pricing-1__price">548<span class="kt-pricing-1__label">$</span></span>
                                    <h2 class="kt-pricing-1__subtitle">Enterprice License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum dolor</span>
                                        <span>sed do eiusmod</span>
                                        <span>magna siad enim</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-danger btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<div class="kt-pricing-1__visual">
                                        <div class="kt-pricing-1__hexagon1"></div>
                                        <div class="kt-pricing-1__hexagon2"></div>
                                        <span class="kt-pricing-1__icon kt-font-warning"><i class="fa flaticon-gift"></i></span>
                                    </div>
                                    <span class="kt-pricing-1__price">899<span class="kt-pricing-1__label">$</span></span>
                                    <h2 class="kt-pricing-1__subtitle">Custom License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum</span>
                                        <span>sed do eiusmod tem</span>
                                        <span>magna siad enim</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-warning btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-pricing-1__items row">
                            <div class="kt-pricing-1__item col-lg-3">

                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<h2 class="kt-pricing-1__subtitle">1 End Product License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum aret</span>
                                        <span>sed do eiusmod</span>
                                        <span>magna siad ali</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-brand btn-custom btn-pill btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<div class="kt-pricing-1__visual">
                                        <div class="kt-pricing-1__hexagon1"></div>
                                        <div class="kt-pricing-1__hexagon2"></div>
                                        <span class="kt-pricing-1__icon kt-font-success"><i class="fa flaticon-confetti"></i></span>
                                    </div>
                                    <span class="kt-pricing-1__price">69<span class="kt-pricing-1__label">$</span></span>
                                    <h2 class="kt-pricing-1__subtitle">Business License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum</span>
                                        <span>sed do eiusmod</span>
                                        <span>magna siad enim aliqua</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-success btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<div class="kt-pricing-1__visual">
                                        <div class="kt-pricing-1__hexagon1"></div>
                                        <div class="kt-pricing-1__hexagon2"></div>
                                        <span class="kt-pricing-1__icon kt-font-danger"><i class="fa flaticon-rocket"></i></span>
                                    </div>
                                    <span class="kt-pricing-1__price">548<span class="kt-pricing-1__label">$</span></span>
                                    <h2 class="kt-pricing-1__subtitle">Enterprice License</h2>
                                    <span class="kt-pricing-1__description">
                                        <span>Lorem ipsum dolor</span>
                                        <span>sed do eiusmod</span>
                                        <span>magna siad enim</span>
                                    </span>*@
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-danger btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <img src="~/assets/Uzair/template (1).png" alt="image">
                                @*<div class="kt-pricing-1__visual">
                                        <div class="kt-pricing-1__hexagon1"></div>
                                        <div class="kt-pricing-1__hexagon2"></div>
                                        <span class="kt-pricing-1__icon kt-font-warning"><i class="fa flaticon-gift"></i></span>
                                    </div>*@
                                <span class="kt-pricing-1__price">899<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Custom License</h2>
                                <span class="kt-pricing-1__description">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn   btn-dark btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                    <button type="button" class="btn   btn-danger  btn-uppercase btn-bolder btn-sm mt-2">Wish List</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Adjusted Tabs
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Basic Tree
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div id="kt_tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_1" aria-busy="false">
                                    <ul class="jstree-container-ul jstree-children" role="group">
                                        <li role="treeitem" aria-selected="false" aria-level="1" aria-labelledby="j1_1_anchor" aria-expanded="false" id="j1_1" class="jstree-node jstree-closed">
                                            <i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" id="j1_1_anchor">
                                                <i class="jstree-icon jstree-themeicon fa fa-folder jstree-themeicon-custom" role="presentation"></i>
                                                Root node 1
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-12">

                        <!--begin::Portlet-->
                        <div class="kt-portlet ">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Showing Result By:
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">

                                <!--begin::Accordion-->
                                <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                                    <div class="card">
                                        <div class="card-header" id="headingOne4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                                <i class="fab fa-whmcs"></i> Category
                                            </div>
                                        </div>
                                        <div id="collapseOne4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                                            <div class="card-body">

                                                <div id="kt_tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_1" aria-busy="false">
                                                    <ul class="jstree-container-ul jstree-children" role="group">
                                                        <li role="treeitem" aria-selected="false" aria-level="1" aria-labelledby="j1_1_anchor" aria-expanded="false" id="j1_1" class="jstree-node jstree-closed">
                                                            <i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" id="j1_1_anchor">
                                                                <i class="jstree-icon jstree-themeicon fa fa-folder jstree-themeicon-custom" role="presentation"></i>
                                                                Category
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                                <i class="fa fa-money-bill-alt"></i> Price Range
                                            </div>
                                        </div>
                                        <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="Select_Year">Price Range</label>
                                                    <div class="date input-group" id="kt_datepicker_5">
                                                        <input class="form-control  text-box single-line" data-val="true" data-val-number="The field startYear must be a number." readonly="readonly" type="number" value="">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><i class="fa fa-money-bill"></i></span>
                                                        </div>
                                                        <input class="form-control  text-box single-line" data-val="true" data-val-number="The field End Year must be a number." name="FindYourPart.EndYear" readonly="readonly" type="number" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                                <i class="fa fa-tags"></i> Sale
                                            </div>
                                        </div>
                                        <div id="collapseThree4" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample4">
                                            <div class="card-body">
                                                <div class="kt-checkbox-inline">
                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox" value="true">
                                                        <input name="IsTermAndConditionAccepted" type="hidden" value="false">
                                                        Discounted Parts/Products
                                                        <span></span>
                                                    </label>
                                                    <span class="form-text text-muted"><span class="field-validation-valid text-danger" data-valmsg-for="IsTermAndConditionAccepted" data-valmsg-replace="true"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                                <i class="fa fa-th-large"></i> Brand
                                            </div>
                                        </div>
                                        <div id="collapseThree4" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample4">
                                            <div class="card-body">
                                                <div class="kt-checkbox-list">
                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox"> Default
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox"> Default
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox"> Default
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox"> Default
                                                        <span></span>
                                                    </label>

                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox"> Default
                                                        <span></span>
                                                    </label>
                                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                        <input type="checkbox"> Default
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end::Accordion-->
                            </div>
                        </div>


                    </div>
                </div>
                <!--begin::Portlet-->
                <!--end::Portlet-->
                <!--begin::Portlet-->

            </div>
            <div class="col-9">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tabs_2_1">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_2_2">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_2_3">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-toggle="tab" href="#kt_tabs_2_4">Disabled</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    </div>
                    <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu">
                    <ul class="kt-menu__nav ">

                        <li class="kt-menu__section ">
                            <h2 class="kt-menu__section-text">Components</h2>
                            <i class="kt-menu__section-icon flaticon-more-v2"></i>
                        </li>

                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="la la-leaf"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Fluid Pricing Table
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-pricing-1">
                        <div class="kt-pricing-1__items row">
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-piggy-bank"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">Free</span>
                                <h2 class="kt-pricing-1__subtitle">1 End Product License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum aret</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad ali</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-brand btn-custom btn-pill btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-success"><i class="fa flaticon-confetti"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">69<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Business License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad enim aliqua</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-success btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-danger"><i class="fa flaticon-rocket"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">548<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Enterprice License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum dolor</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad enim</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-danger btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-warning"><i class="fa flaticon-gift"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">899<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Custom License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum</span>
                                    <span>sed do eiusmod tem</span>
                                    <span>magna siad enim</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-warning btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boxed -->
<div class="kt-container">
    <div class="kt-portlet ">
        <div class="kt-portlet__body">
            <div class="boxed">
                <section class="flat-row main-shop shop-detail style-1">
                    <div class="kt-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="~/assets/Uzair/template (37).png" style="height:550px;width:100%" />
                                        </li>
                                        <li>
                                            <img src="~/assets/Uzair/template (38).png" style="height:550px;width:100%" />
                                        </li>
                                        <li>
                                            <img src="~/assets/Uzair/template (39).png" style="height:550px;width:100%" />
                                        </li>
                                        <li>
                                            <img src="~/assets/Uzair/template (40).png" style="height:550px;width:100%" />
                                        </li>
                                    </ul>
                                </div>


                                @*<div class="flexslider">
                                        <ul class="slides">
                                            <li data-thumb="E:\MVC\AutoSolutionProject\AutoSolution\assets\Uzairtemplate (42).png">
                                                <img src="~/assets/Uzair/template (40).png" />
                                            </li>
                                            <li data-thumb="assets/Uzair/template (42).png">
                                                <img src="~/assets/Uzair/template (40).png" />
                                            </li>
                                            <li data-thumb="assets/Uzair/template (42).png">
                                                <img src="~/assets/Uzair/template (40).png" />
                                            </li>
                                            <li data-thumb="assets/Uzair/template (42).png">
                                                <img src="~/assets/Uzair/template (37).png" />
                                            </li>
                                            <li data-thumb="assets/Uzair/template (42).png">
                                                <img src="~/assets/Uzair/template (38).png" />
                                            </li>
                                            <li data-thumb="assets/Uzair/template (42).png">
                                                <img src="~/assets/Uzair/template (39).png" />
                                            </li>
                                        </ul>
                                    </div>*@

                            </div><!-- /.col-md-6 -->

                            <div class="col-md-6">

                                <div class="product-detail clearfix">
                                    <div class="inner">
                                        <div class="content-detail">
                                            <h2 class="product-title">Product Name</h2>
                                            @*<div class="flat-star style-1">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <span>(1)</span>
                                                </div>*@
                                            <div class="kt-portlet kt-mt-10">
                                                <div class="kt-portlet__body kt-portlet__body--fit">
                                                    <div class="row row-no-padding row-col-separator-xl">
                                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                                            <!--begin:: Widgets/Stats2-1 -->
                                                            <div class="kt-widget1">
                                                                <div class="kt-widget1__item">
                                                                    <div class="kt-widget1__info">
                                                                        <h3 class="kt-widget1__title">Product Name</h3>
                                                                        <span class="kt-widget1__desc">ABC</span>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget1__item">
                                                                    <div class="kt-widget1__info">
                                                                        <h3 class="kt-widget1__title">Category</h3>
                                                                        <span class="kt-widget1__desc">ABC</span>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget1__item">
                                                                    <div class="kt-widget1__info">
                                                                        <h3 class="kt-widget1__title">Sub Category</h3>
                                                                        <span class="kt-widget1__desc">Awerage Weekly Profit</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xl-6" style="border-bottom: 1px solid #ebedf2;">
                                                            <!--begin:: Widgets/Stats2-1 -->
                                                            <div class="kt-widget1">
                                                                <div class="kt-widget1__item">
                                                                    <div class="kt-widget1__info">
                                                                        <h3 class="kt-widget1__title">Last Update</h3>
                                                                        <span class="kt-widget1__desc">03/06/2020</span>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget1__item">
                                                                    <div class="kt-widget1__info">
                                                                        <h3 class="kt-widget1__title">Add Reference</h3>
                                                                        <span class="kt-widget1__desc">Awerage Weekly Profit</span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="kt-portlet__head-label kt-mt-15">
                                                    <h5 class="kt-portlet__head-title">
                                                        Quantity
                                                    </h5>
                                                </div>
                                                <div class="input-group" style="width:34%">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-dark" type="button">+</button>
                                                    </div>
                                                    <input type="text" class="form-control" readonly min="1" max="100" value="1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-dark" type="button">-</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-quantity margin-top-15">
                                                <button type="button" class="btn  btn-dark btn-wide btn-uppercase btn-bolder">Buy Now</button>
                                                <button type="button" class="btn  btn-danger btn-wide btn-uppercase btn-bolder">Add To Cart</button>
                                                @*<div class="add-to-cart no-margin">
                                                        <a href="#">Buy Now</a>
                                                    </div>
                                                    <div class="add-to-cart no-margin">
                                                        <a href="#">Add To Cart</a>
                                                    </div>*@
                                                <div class="box-like margin-left-3">
                                                    <button type="button" class="btn btn-outline-danger btn-elevate btn-icon"><i class="la la-heart-o" style="font-size:1.7rem"></i></button>
                                                </div>
                                            </div>
                                            @*<div class="product-categories margin-top-49">
                                                    <span>Categories: </span><a href="#">Men,</a> <a href="#">Shoes</a>
                                                </div>
                                                <div class="product-tags">
                                                    <span>Tags: </span><a href="#">Dress,</a> <a href="#">Fashion,</a> <a href="#">Furniture,</a> <a href="#">Lookbok</a>
                                                </div>*@
                                            <div>
                                                <div class="kt-portlet__head-label kt-mt-15">
                                                    <h5 class="kt-portlet__head-title">
                                                        Share With
                                                    </h5>
                                                </div>

                                                <div class="kt-section__content kt-section__content--solid">
                                                    <a href="#" class="btn btn-facebook btn-icon" style="color:white"><i class="socicon-facebook"></i></a>&nbsp;
                                                    <a href="#" class="btn btn-twitter  btn-icon" style="color:white"><i class="socicon-twitter"></i></a>&nbsp;
                                                    <a href="#" class="btn btn-google btn-icon" style="color:white"><i class="socicon-google"></i></a>&nbsp;
                                                    <a href="#" class="btn btn-instagram btn-icon" style="color:white"><i class="socicon-instagram"></i></a>&nbsp;
                                                    <a href="#" class="btn btn-linkedin btn-icon" style="color:white"><i class="socicon-linkedin"></i></a>&nbsp;


                                                </div>
                                                @*<ul class="flat-socials margin-top-27">
                                                        <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-pinterest fa-2x"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-google-plus fa-2x"></i></a></li>
                                                    </ul>*@
                                            </div>

                                        </div>
                                    </div>
                                </div><!-- /.product-detail -->
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>


                <div class="kt-portlet ">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Product Name
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <!--begin::Accordion-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                                    <div class="card">
                                        <div class="card-header" id="headingOne4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
                                                <i class="flaticon2-layers-1"></i> User Permissions
                                            </div>
                                        </div>
                                        <div id="collapseOne4" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample4" style="">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                                <i class="flaticon2-copy"></i> Account Settings
                                            </div>
                                        </div>
                                        <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample4">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                                <i class="flaticon2-bell-alarm-symbol"></i> Application Options
                                            </div>
                                        </div>
                                        <div id="collapseThree4" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample4">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well kt-mb-10 kt-mt-10 kt-ml-70" style="padding:15px">
                                    <img alt="Buy-from-pakwheels" style="max-width:100%" src="https://wsa2.pakwheels.com/assets/buy-from-pakwheels-2ea088a74470c8c2599cc0c797296865.png">
                                    <h5 class="kt-mt-15">Buy From Auto Solution and Get</h5>
                                    <ol style="font-size:1.1rem;line-height:1.9">
                                        <li>100% Genuine Products</li>
                                        <li>Hassle Free Buying</li>
                                        <li>Money Back Guarantee</li>
                                    </ol>
                                    <div class="clearfix">

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--end::Accordion-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Service Provider") || User.IsInRole("User"))
    {
        <div>
            helloo
        </div>
    }
}
        <script>
            //$(document).ready(function () {
            //    $('.flexslider').flexslider({
            //        animation: "slide",
            //        controlNav: "thumbnails"
            //    });
            //});

            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlsContainer: $(".custom-controls-container"),
                    customDirectionNav: $(".custom-navigation a")
                });
            });
        </script>
