
@{
    ViewBag.Title = "check";
}


<link href="~/assets/css/demo1/pages/pricing/pricing-1.css" rel="stylesheet" />
<link rel="stylesheet" href="~/stylesheets/style.css">
<link rel="stylesheet" href="~/stylesheets/responsive.css">

<!-- Colors -->
<link rel="stylesheet" type="text/css" href="~/stylesheets/colors/color1.css" id="colors">

<!-- Animation Style -->
<link rel="stylesheet" type="text/css" href="~/stylesheets/animate.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu">
                    <ul class="kt-menu__nav ">

                        <li class="kt-menu__section ">
                            <h2 class="kt-menu__section-text">Components</h2>
                            <i class="kt-menu__section-icon flaticon-more-v2"></i>
                        </li>

                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="la la-leaf"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Fluid Pricing Table
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-pricing-1">
                        <div class="kt-pricing-1__items row">
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-piggy-bank"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">Free</span>
                                <h2 class="kt-pricing-1__subtitle">1 End Product License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum aret</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad ali</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-brand btn-custom btn-pill btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-success"><i class="fa flaticon-confetti"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">69<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Business License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad enim aliqua</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-success btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-danger"><i class="fa flaticon-rocket"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">548<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Enterprice License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum dolor</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad enim</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-danger btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-warning"><i class="fa flaticon-gift"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">899<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Custom License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum</span>
                                    <span>sed do eiusmod tem</span>
                                    <span>magna siad enim</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-warning btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Adjusted Tabs
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-3">
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu ">
                        <ul class="kt-menu__nav ">

                            <li class="kt-menu__section ">
                                <h2 class="kt-menu__section-text">Components</h2>
                                <i class="kt-menu__section-icon flaticon-more-v2"></i>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                            <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tabs_2_1">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_2_2">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_2_3">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-toggle="tab" href="#kt_tabs_2_4">Disabled</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    </div>
                    <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu">
                    <ul class="kt-menu__nav ">

                        <li class="kt-menu__section ">
                            <h2 class="kt-menu__section-text">Components</h2>
                            <i class="kt-menu__section-icon flaticon-more-v2"></i>
                        </li>

                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Utils</span>@*<i class="kt-menu__ver-arrow la la-angle-right"></i>*@</a>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="la la-leaf"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Fluid Pricing Table
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-pricing-1">
                        <div class="kt-pricing-1__items row">
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-piggy-bank"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">Free</span>
                                <h2 class="kt-pricing-1__subtitle">1 End Product License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum aret</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad ali</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-brand btn-custom btn-pill btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-success"><i class="fa flaticon-confetti"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">69<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Business License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad enim aliqua</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-success btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-danger"><i class="fa flaticon-rocket"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">548<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Enterprice License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum dolor</span>
                                    <span>sed do eiusmod</span>
                                    <span>magna siad enim</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-danger btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                            <div class="kt-pricing-1__item col-lg-3">
                                <div class="kt-pricing-1__visual">
                                    <div class="kt-pricing-1__hexagon1"></div>
                                    <div class="kt-pricing-1__hexagon2"></div>
                                    <span class="kt-pricing-1__icon kt-font-warning"><i class="fa flaticon-gift"></i></span>
                                </div>
                                <span class="kt-pricing-1__price">899<span class="kt-pricing-1__label">$</span></span>
                                <h2 class="kt-pricing-1__subtitle">Custom License</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Lorem ipsum</span>
                                    <span>sed do eiusmod tem</span>
                                    <span>magna siad enim</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <button type="button" class="btn btn-pill  btn-warning btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boxed -->
<div>
    <div class="boxed">


        <!-- END IMAGE BOX -->
        <!-- PRODUCT NEW -->
        <section class="flat-row row-product-new">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin-bottom-52">
                            <h2 class="title">
                                New Product
                            </h2>
                        </div>
                        <div class="product-content product-fourcolumn clearfix">
                            <ul class="product style2 clearfix">
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/13.jpg" alt="image">
                                        </a>
                                        <span class="new">New</span>
                                    </div>
                                    <div class="product-info text-center clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            <li>
                                                <a href="#" class="red"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="blue"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="black"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>

                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/14.jpg" alt="image">
                                        </a>
                                        <span class="new">New</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            <li>
                                                <a href="#" class="red"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="blue"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="black"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/15.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Sale</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <del>
                                                <span class="regular">$150.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/16.jpg" alt="image">
                                        </a>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            <li>
                                                <a href="#" class="red"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="blue"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="black"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!-- END PRODUCT NEW -->
        <!-- ANIMATION BOX -->
        <section class="flat-row row-animation-box bg-section row-1" style="background-image:url(/assets/Uzair/gallery_bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-animation-block">
                            <div class="title-section width-before-17 bg-before-white margin-bottom-14">
                                <div class="sup-title"><span>NEW TREND 2018</span></div>
                                <h2 class="title font-size-52 line-height-76">Women‘s Collection</h2>
                                <div class="sub-title"><span>Big Sale of this Week</span></div>
                            </div>
                            <div class="elm-btn text-center">
                                <a href="#" class="themesflat-button bg-accent has-padding-36">Shop Now</a>
                            </div>
                        </div><!-- /.flat-animation-block -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!-- END ANIMATION BOX -->
        <!-- PRODUCT -->
        <section class="flat-row row-product-project style-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin-bottom-41">
                            <h2 class="title">Best Sale</h2>
                        </div>
                        <ul class="flat-filter style-1 text-center max-width-682 clearfix">
                            <li class="active"><a href="#" data-filter="*">All Product</a></li>
                            <li><a href="#" data-filter=".kid">For Kid’s</a></li>
                            <li><a href="#" data-filter=".man">For Man’s</a></li>
                            <li><a href="#" data-filter=".woman">For Woman’s</a></li>
                            <li><a href="#" data-filter=".accessories">Accessories</a></li>
                        </ul>
                        <div class="divider h54"></div>
                        <div class="product-content product-fourcolumn clearfix">
                            <ul class="product style2 isotope-product clearfix">
                                <li class="product-item kid woman">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/images/shop/sh-4/1.jpg" alt="image">
                                        </a>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            <li>
                                                <a href="#" class="red"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="blue"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="black"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item man accessories">
                                    <div class="product-thumb clearfix">
                                        <a href="#">
                                            <img src="~/images/shop/sh-4/2.jpg" alt="image">
                                        </a>
                                        <span class="new">New</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item kid woman">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/3.jpg" alt="image">
                                        </a>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item man accessories">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/4.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Sale</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <del>
                                                <span class="regular">$120.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            <li>
                                                <a href="#" class="red"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="blue"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="black"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item kid woman">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/5.jpg" alt="image">
                                        </a>
                                        <span class="new">New</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item man accessories">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/6.jpg" alt="image">
                                        </a>
                                        <span class="new sale">Sale</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <del>
                                                <span class="regular">$150.00</span>
                                            </del>
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                        <ul class="flat-color-list width-14">
                                            <li>
                                                <a href="#" class="red"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="blue"></a>
                                            </li>
                                            <li>
                                                <a href="#" class="black"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item kid woman">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/7.jpg" alt="image">
                                        </a>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                                <li class="product-item man accessories">
                                    <div class="product-thumb clearfix">
                                        <a href="#" class="product-thumb">
                                            <img src="~/images/shop/sh-4/8.jpg" alt="image">
                                        </a>
                                        <span class="new">New</span>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$100.00</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END PRODUCT -->
        <!-- ICON BOX -->
        <section class="flat-row row-icon-box bg-section bg-color-f5f">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="flat-icon-box icon-top style-1 clearfix text-center">
                            <div class="inner no-margin">
                                <div class="icon-wrap">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="text-wrap">
                                    <h5 class="heading"><a href="#">Free Shipping</a></h5>
                                    <p class="desc">Free Shipping on order over $99</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <div class="flat-icon-box icon-top style-1 clearfix text-center">
                            <div class="inner">
                                <div class="icon-wrap">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="text-wrap">
                                    <h5 class="heading"><a href="#">Cash On Delivery</a></h5>
                                    <p class="desc">The Internet Trend To Repeat</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <div class="flat-icon-box icon-top style-1 clearfix text-center">
                            <div class="inner">
                                <div class="icon-wrap">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="text-wrap">
                                    <h5 class="heading"><a href="#">Gift For All</a></h5>
                                    <p class="desc">Receive Gift When Subscribe</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3">
                        <div class="flat-icon-box icon-top style-1 clearfix text-center">
                            <div class="inner">
                                <div class="icon-wrap">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="text-wrap">
                                    <h5 class="heading"><a href="#">Opening All Week</a></h5>
                                    <p class="desc">6.00 am - 17.00pm</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                </div>
            </div>
        </section>
        <!-- END ICON BOX -->
        <!-- NEW LATEST -->
        <section class="flat-row row-new-latest">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin-bottom-40">
                            <h2 class="title">New Latest</h2>
                        </div>
                        <div class="new-latest-wrap">
                            <div class="flat-new-latest flat-carousel-box post-wrap style3 data-effect clearfix" data-auto="false" data-column="3" data-column2="2" data-column3="1" data-gap="30">
                                <div class="owl-carousel owl-theme">
                                    <article class="post clearfix">
                                        <div class="featured-post data-effect-item">
                                            <img src="~/images/blog/new-lastest-1-370x280.jpg" alt="image">
                                            <div class="content-post text-center">
                                                <div class="title-post">
                                                    <h2><a href="blog-detail.html">Trend Of 2018</a></h2>
                                                </div><!-- /.title-post -->
                                                <ul class="meta-post">
                                                    <li class="date">
                                                        OCT 08, 2018
                                                    </li>
                                                    <li class="author">
                                                        <a href="#">BY ADMIN</a>
                                                    </li>
                                                </ul><!-- /.meta-post -->
                                                <div class="entry-post">
                                                    <p>This is Heading the bank manager long ago won the battle for the heart of...</p>
                                                    <div class="more-link">
                                                        <a href="blog-detail.html">READ MORE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.content-post -->
                                            <div class="overlay-effect bg-overlay-black"></div>
                                        </div>
                                    </article><!-- /.post -->
                                    <article class="post clearfix">
                                        <div class="featured-post data-effect-item">
                                            <img src="~/images/blog/new-lastest-2-370x280.jpg" alt="image">
                                            <div class="content-post text-center">
                                                <div class="title-post">
                                                    <h2><a href="blog-detail.html">Trend Of 2018</a></h2>
                                                </div><!-- /.title-post -->
                                                <ul class="meta-post">
                                                    <li class="date">
                                                        OCT 08, 2018
                                                    </li>
                                                    <li class="author">
                                                        <a href="#">BY ADMIN</a>
                                                    </li>
                                                </ul><!-- /.meta-post -->
                                                <div class="entry-post">
                                                    <p>This is Heading the bank manager long ago won the battle for the heart of...</p>
                                                    <div class="more-link">
                                                        <a href="blog-detail.html">READ MORE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.content-post -->
                                            <div class="overlay-effect bg-overlay-black"></div>
                                        </div>
                                    </article><!-- /.post -->
                                    <article class="post clearfix">
                                        <div class="featured-post data-effect-item">
                                            <img src="~/images/blog/new-lastest-3-370x280.jpg" alt="image">
                                            <div class="content-post text-center">
                                                <div class="title-post">
                                                    <h2><a href="blog-detail.html">Trend Of 2018</a></h2>
                                                </div><!-- /.title-post -->
                                                <ul class="meta-post">
                                                    <li class="date">
                                                        OCT 08, 2018
                                                    </li>
                                                    <li class="author">
                                                        <a href="#">BY ADMIN</a>
                                                    </li>
                                                </ul><!-- /.meta-post -->
                                                <div class="entry-post">
                                                    <p>This is Heading the bank manager long ago won the battle for the heart of...</p>
                                                    <div class="more-link">
                                                        <a href="blog-detail.html">READ MORE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.content-post -->
                                            <div class="overlay-effect bg-overlay-black"></div>
                                        </div>
                                    </article><!-- /.post -->
                                    <article class="post clearfix">
                                        <div class="featured-post data-effect-item">
                                            <img src="~/images/blog/new-lastest-1-370x280.jpg" alt="image">
                                            <div class="content-post text-center">
                                                <div class="title-post">
                                                    <h2><a href="blog-detail.html">Trend Of 2018</a></h2>
                                                </div><!-- /.title-post -->
                                                <ul class="meta-post">
                                                    <li class="date">
                                                        OCT 08, 2018
                                                    </li>
                                                    <li class="author">
                                                        <a href="#">BY ADMIN</a>
                                                    </li>
                                                </ul><!-- /.meta-post -->
                                                <div class="entry-post">
                                                    <p>This is Heading the bank manager long ago won the battle for the heart of...</p>
                                                    <div class="more-link">
                                                        <a href="blog-detail.html">READ MORE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.content-post -->
                                            <div class="overlay-effect bg-overlay-black"></div>
                                        </div>
                                    </article><!-- /.post -->
                                    <article class="post clearfix">
                                        <div class="featured-post data-effect-item">
                                            <img src="~/images/blog/new-lastest-2-370x280.jpg" alt="image">
                                            <div class="content-post text-center">
                                                <div class="title-post">
                                                    <h2><a href="blog-detail.html">Trend Of 2018</a></h2>
                                                </div><!-- /.title-post -->
                                                <ul class="meta-post">
                                                    <li class="date">
                                                        OCT 08, 2018
                                                    </li>
                                                    <li class="author">
                                                        <a href="#">BY ADMIN</a>
                                                    </li>
                                                </ul><!-- /.meta-post -->
                                                <div class="entry-post">
                                                    <p>This is Heading the bank manager long ago won the battle for the heart of...</p>
                                                    <div class="more-link">
                                                        <a href="blog-detail.html">READ MORE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.content-post -->
                                            <div class="overlay-effect bg-overlay-black"></div>
                                        </div>
                                    </article><!-- /.post -->
                                    <article class="post clearfix">
                                        <div class="featured-post data-effect-item">
                                            <img src="~/images/blog/new-lastest-3-370x280.jpg" alt="image">
                                            <div class="content-post text-center">
                                                <div class="title-post">
                                                    <h2><a href="blog-detail.html">Trend Of 2018</a></h2>
                                                </div><!-- /.title-post -->
                                                <ul class="meta-post">
                                                    <li class="date">
                                                        OCT 08, 2018
                                                    </li>
                                                    <li class="author">
                                                        <a href="#">BY ADMIN</a>
                                                    </li>
                                                </ul><!-- /.meta-post -->
                                                <div class="entry-post">
                                                    <p>This is Heading the bank manager long ago won the battle for the heart of...</p>
                                                    <div class="more-link">
                                                        <a href="blog-detail.html">READ MORE</a>
                                                    </div>
                                                </div>
                                            </div><!-- /.content-post -->
                                            <div class="overlay-effect bg-overlay-black"></div>
                                        </div>
                                    </article><!-- /.post -->
                                </div><!-- /.owl-carousel -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>



    </div>
</div>
