@{
    ViewBag.Title = "Home Page";
}



<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto;color:white">
            <h3 class="kt-subheader__title" style="font-size:3.5rem">Welcome To Auto Solution</h3>
            <h5>We Make car maintenance easy so people can enjoy their drive</h5>
        </div>
    </div>
</div>
<div id="SelectYourInterest">
    @{Html.RenderAction("SelectYourInterest");}
</div>
<div class="kt-portlet kt-portlet--fit kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--height-fluid">

    <div class="kt-portlet__body">
        <div class="kt-widget27">
            <div class="kt-widget27__visual">
                <img src="~/assets/media/bg/demo4-bg-footer.jpg" alt="">
                <h3 class="kt-widget27__title">
                    <span>Hot Offers By Auto Solution</span>
                </h3>
                <div class="kt-widget27__btn">
                    <a href="#" class="btn btn-pill btn-light btn-elevate btn-bold"> <i class="la la-4x la-bullhorn"></i> Available Offers</a>
                </div>
            </div>
            <div class="kt-widget27__container kt-portlet__space-x">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item bg-dark">
                        <a class="nav-link bg-dark active" data-toggle="pill" href="#kt_personal_income_quater_1">Daily Base Offers</a>
                    </li>
                    <li class="nav-item bg-dark">
                        <a class="nav-link bg-dark" data-toggle="pill" href="#kt_personal_income_quater_2">Weekly Base Offers</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="kt_personal_income_quater_1" class="tab-pane active">
                        <div class="kt-widget11">
                            <div class="table-responsive">

                                <!--begin::Table-->
                                <table class="table">

                                    <!--begin::Thead-->
                                    <thead>
                                        <tr>
                                            <td>Application</td>
                                            <td>Status</td>
                                            <td class="kt-align-right">Total</td>
                                        </tr>
                                    </thead>

                                    <!--end::Thead-->
                                    <!--begin::Tbody-->
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#" class="kt-widget11__title">Vertex 2.0</a>
                                                <span class="kt-widget11__sub">Vertex To By Again</span>
                                            </td>
                                            <td><span class="kt-badge kt-badge--success kt-badge--inline">pending</span></td>
                                            <td class="kt-align-right kt-font-brand kt-font-bold">$14,740</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="kt-widget11__title">Metronic</a>
                                                <span class="kt-widget11__sub">Powerful Admin Theme</span>
                                            </td>
                                            <td><span class="kt-badge kt-badge--brand kt-badge--inline">new</span></td>
                                            <td class="kt-align-right kt-font-brand kt-font-bold">$16,010</td>
                                        </tr>
                                    </tbody>
                                    <!--end::Tbody-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                    </div>
                    <div id="kt_personal_income_quater_2" class="tab-pane fade">
                        <div class="kt-widget11">
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table">
                                    <!--begin::Thead-->
                                    <thead>
                                        <tr>
                                            <td>Application</td>
                                            <td>Status</td>
                                            <td class="kt-align-right">Total</td>
                                        </tr>
                                    </thead>
                                    <!--end::Thead-->
                                    <!--begin::Tbody-->
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#" class="kt-widget11__title">Vertex 2.0</a>
                                                <span class="kt-widget11__sub">Vertex To By Again</span>
                                            </td>
                                            <td><span class="kt-badge kt-badge--success kt-badge--inline">pending</span></td>
                                            <td class="kt-align-right kt-font-brand kt-font-bold">$14,740</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="kt-widget11__title">Apex</a>
                                                <span class="kt-widget11__sub">The Best Selling App</span>
                                            </td>
                                            <td><span class="kt-badge kt-badge--warning kt-badge--inline">in process</span></td>
                                            <td class="kt-align-right kt-font-brand kt-font-bold">$37,200</td>
                                        </tr>
                                    </tbody>
                                    <!--end::Tbody-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>


</div>
<div id="tableContiner">
    @{Html.RenderAction("GetServiceCategories");}
</div>
<div class="boxed">


    <section class="flat-row row-animation-box bg-section row-1" style="background-image:url('/assets/Uzair/template (27).png')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-animation-block">
                        <div class="title-section width-before-17 bg-before-white margin-bottom-14">
                            <div class="sup-title"><span>NEW TREND 2020</span></div>
                            <h2 class="title font-size-52 line-height-76">Auto Accessories Collection</h2>
                            @*<div class="sub-title"><span>Big Sale of this Week</span></div>*@
                        </div>
                        @*<div class="elm-btn text-center">
                                <a href="#" class="themesflat-button bg-accent has-padding-36">Shop Now</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<div id="Parts">
    @{Html.RenderAction("GetPartsProductForHome");}
</div>

<div class="kt-container-fluid">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label" style="margin: 0 auto">
                
                    <section class="flat-row row-icon-box bg-section py-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="title-section" style="margin-bottom:35px">
                                        <h2 class="title">Meet Our Team</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
              
                @*<h3 class="kt-portlet__head-title" style="font-size:1.5rem">
        </h3>*@
            </div>
        </div>
        <div class="kt-portlet__body">
            <!-- Our team Section -->
            <section id="team" class="team content-section">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            @*<h2>Meet Our Team</h2>*@
                            <h3 class="caption gray">Meet the people who has creative thinking for Auto Solution</h3>
                        </div><!-- /.col-md-12 -->

                        <div class="container">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="team-member">
                                        <figure>
                                            <img src="~/assets/Uzair/template (32).png" alt="" class="img-responsive">
                                            <figcaption>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                                                <ul>
                                                    <li><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
                                                    <li><a href=""><i class="fab fa-facebook-square fa-2x"></i></a></li>
                                                    <li><a href=""><i class="fab fa-twitter-square fa-2x"></i></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                        <h4>Uzair Anwar</h4>
                                        <h5>Founder</h5>
                                    </div><!-- /.team-member-->
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div class="team-member">
                                        <figure>
                                            <img src="~/assets/Uzair/template (32).png" alt="" class="img-responsive">
                                            <figcaption>
                                                <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                                                <ul>
                                                    <li><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
                                                    <li><a href=""><i class="fab fa-facebook-square fa-2x"></i></a></li>
                                                    <li><a href=""><i class="fab fa-twitter-square fa-2x"></i></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                        <h4>Jessie Barnett</h4>
                                        <h5>Founder</h5>
                                    </div><!-- /.team-member-->
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div class="team-member">
                                        <figure>
                                            <img src="~/assets/Uzair/template (32).png" alt="" class="img-responsive">
                                            <figcaption>
                                                <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                                <ul>
                                                    <li><a href=""><i class="fab fa-linkedin fa-2x"></i></a></li>
                                                    <li><a href=""><i class="fab fa-facebook-square fa-2x"></i></a></li>
                                                    <li><a href=""><i class="fab fa-twitter-square fa-2x"></i></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                        <h4>Jessie Barnett</h4>
                                        <h5>Co-Founder</h5>
                                    </div><!-- /.team-member-->
                                </div><!-- /.col-md-4 -->


                            </div><!-- /.row -->
                        </div><!-- /.container -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>
            <!-- /.our-team -->
        </div>
    </div>
</div>

<div class="boxed">
    <section class="flat-row row-icon-box bg-section bg-color-f5f">
        <div class="container-fluid">
            <div class="row kt-mb-20">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-41">
                        <h2 class="title">Why You Choose Auto Solution</h2>
                    </div>
                </div>
            </div>
            <div class="row kt-mb-40">
                <div class="col-md-3">
                    <div class="flat-icon-box icon-top style-1 clearfix text-center">
                        <div class="inner no-margin">
                            <div class="icon-wrap">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading"><a href="#">Free Shipping</a></h5>
                                <p class="desc">Free Shipping on order over 1000 PKR</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flat-icon-box icon-top style-1 clearfix text-center">
                        <div class="inner">
                            <div class="icon-wrap">
                                <i class="fa fa-money-bill-alt"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading"><a href="#">Cash On Delivery</a></h5>
                                <p class="desc">Pay cash at your doorstep</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flat-icon-box icon-top style-1 clearfix text-center">
                        <div class="inner">
                            <div class="icon-wrap">
                                <i class="fab fa-keycdn"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading"><a href="#"> Money Back Guarantee</a></h5>
                                <p class="desc">We deliver what we show</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flat-icon-box icon-top style-1 clearfix text-center">
                        <div class="inner">
                            <div class="icon-wrap">
                                <i class="fa fa-sync-alt"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading"><a href="#">Opening All Week</a></h5>
                                <p class="desc">9.00 am - 9.00 pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row kt-mb-40">
                <div class="col-md-6">
                    <div class="flat-icon-box icon-top style-1 clearfix text-center">
                        <div class="inner no-margin">
                            <div class="icon-wrap">
                                <i class="fa fa-user-shield"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading"><a href="#">Verified Vendors</a></h5>
                                <p class="desc">Verified vendors arom all over the Pakistan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flat-icon-box icon-top style-1 clearfix text-center">
                        <div class="inner">
                            <div class="icon-wrap">
                                <i class="fa fa-box-open"></i>
                            </div>
                            <div class="text-wrap">
                                <h5 class="heading"><a href="#">Exclusive Deals</a></h5>
                                <p class="desc">We offer variety of deals to our valuable Customers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




