
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="row" id="ImageTemplate" style="display:none">
        <div class="card ImageTemplates" style="width: 20rem;">
            <img class="card-img-top AutoImage" src="" alt="Card image cap">
            <div class="card-body">
                <button type="button" class="btn btn-dark DeleteImage" id="DeleteImages" onclick="RemoveImagesOnclick(this)"><i class="flaticon-delete"></i>Remove</button>
            </div>
        </div>
    </div>
    <div class="row" id="ImageTemplateEdit" style="display:none">
        <div class="card ImageTemplates" style="width: 21rem;">
            <img class="card-img-top AutoImage" src="" alt="Card image cap">
            <div class="card-body">
                <button type="button" class="btn btn-dark DeleteImage" id="DeleteImages" onclick="RemoveImagesOnclick(this)"><i class="flaticon-delete"></i>Remove</button>
            </div>
        </div>
    </div>
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Manage Parts/Product</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <button type="button" class="btn btn-dark" id="Add_New" @Url.Action("AddNew", "PartsProducts")><i class="flaticon-plus"></i>Add New Part/Product</button>
        </div>
    </div>
</div>
<div id="AddNewContainer"></div>

<div id="EditModal"></div>

<div id="PartsProductsDetails"></div>

<div id="tableContiner">
    @{Html.RenderAction("GetPartsProduct");}
</div>
<script>
    var rendered = false;
    $("#Add_New").click(function () {
        if (!rendered) {
            $.ajax({
                url: '@Url.Action("AddNew","PartsProducts")',
                type: 'GET',
            })
                .done(function (response) {
                    $('#AddNewContainer').html("");
                    $('#AddNewContainer').html(response);
                    rendered = true;
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        } else {
            $('#AddNewContainer').html("");
            rendered = false;
        }
    });


    function AttachNewImageEdit(ImageName, ImageID) {
        debugger
        var $ImgHtml = $("#ImageTemplate").clone();
        $ImgHtml.find(".AutoImage").attr("src", "/AutoImages/" + ImageName);
        $ImgHtml.find(".AutoImage").attr("data-id", ImageID);
        $ImgHtml.find(".DeleteImage").attr("data-id", ImageID);
        $("#EditedImage").append($ImgHtml.html());
        // RemoveImagesOnclick();
    }

    function AttachNewImage(ImageName, ImageID) {
        debugger
        var $ImgHtml = $("#ImageTemplate").clone();
        $ImgHtml.find(".AutoImage").attr("src", "/AutoImages/" + ImageName);
        $ImgHtml.find(".AutoImage").attr("data-id", ImageID);
        $ImgHtml.find(".DeleteImage").attr("data-id", ImageID);
        $("#imgViewer").append($ImgHtml.html());
        // RemoveImagesOnclick();
    }
    function RemoveImagesOnclick(element) {
        debugger;
        //$("#imgViewer .ImageTemplates").parent().remove();
        //element.parent().parent().parent().html();
        element.parentElement.parentElement.remove();
        };
    
</script>
