
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/demo1/pages/support-center/faq-3.css" rel="stylesheet" />
<link href="~/assets/css/demo1/pages/support-center/feedback.css" rel="stylesheet" />
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main" style="margin: 0 auto">
            <h2 class="kt-subheader__title kt-align-center">Contact Us</h2>
        </div>
    </div>
</div>
<div class="kt-container ">
    <div class="kt-portlet">
        @*<div class="kt-portlet__head">
            <div class="kt-portlet__head-label" style="margin: 0 auto">
                <h3 class="kt-portlet__head-title">
                    Looking for Help?
                </h3>
            </div>
        </div>*@
        <div class="kt-portlet__body mt-3">
            <!--begin::Section-->
            <div class="kt-section">
                <div class="kt-section__content" style="line-height:30px; font-size:1.2rem">

                    <div class="kt-container  kt-grid__item kt-grid__item--fluid">

                        <!-- begin:: Section -->
                        <div class="kt-sc-faq-3 kt-sc-feedback">
                            <div class="kt-sc__title">
                                Looking for Help?
                            </div>
                            <div class="kt-sc__subtitle">
                                Submit your help request to one Auto Solution!!!
                            </div>
                            <div class="kt-sc__bg" style="background-image:url('/assets/Uzair/template (28).png') ;height: 350px;background-size: contain;width: 100%;background-repeat: no-repeat;">
                            </div>
                        </div>

                        <!-- end:: Section -->
                        <!-- begin:: Section -->
                        <div class="kt-portlet kt-margin-top-30">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label" style="margin:0 auto">
                                    <h3 class="kt-portlet__head-title">
                                        Send us your enquiries
                                    </h3>
                                </div>
                            </div>

                            <!--begin::Form-->
                            <form class="kt-form">
                                <div class="kt-portlet__body">
                                    <div class="row d-flex justify-content-center">
                                       
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter your name">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter your phone">
                                            </div>
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleTextarea">Your Message</label>
                                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                                <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                                            </div>
                                        </div>
                                        @*<div class="col-xl-3"></div>*@
                                    </div>
                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row ">
                                            @*<div class="col-xl-3"></div>*@
                                            <div class="col-md-12 text-right">
                                                <button type="reset" class="btn btn-dark">Submit</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                            </div>
                                            @*<div class="col-xl-3"></div>*@
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!--end::Form-->
                        </div>

                        <!-- end:: Section -->
                        <!-- begin:: Section -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-portlet kt-callout kt-callout--brand kt-callout--diagonal-bg">
                                    <div class="kt-portlet__body">
                                        <div class="kt-callout__body">
                                            <div class="kt-callout__content">
                                                <h3 class="kt-callout__title">Reach Us by Live Chat</h3>
                                                <p class="kt-callout__desc" style="line-height: 2.55rem">
                                                    Our customer support representatives are available for you 24 hours a day, 7 days a week to provide best quality services.
                                                </p>
                                            </div>
                                            <div class="kt-callout__action">
                                                <a href="#" data-toggle="modal" data-target="#kt_chat_modal" class="btn btn-dark btn-bold btn-taller btn-wide btn-upper btn-font-sm  btn-brand">Start Chat</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-portlet kt-callout kt-callout--success kt-callout--diagonal-bg">
                                    <div class="kt-portlet__body">
                                        <div class="kt-callout__body">
                                            <div class="kt-callout__content">
                                                <h3 class="kt-callout__title">Office Location</h3>
                                                <p class="kt-callout__desc">
                                                    <i class="fa fa-map-marker-alt mr-2"></i> E-40/1, Shahrah-e-Hazrat Imam Hussain, Block E-1 Gulberg III, Lahore, Punjab 54660
                                                </p>
                                                <p class="kt-callout__desc">
                                                    <i class="fa fa-envelope mr-2"></i>AutoSolution@Gmail.com
                                                </p>
                                                <p class="kt-callout__desc">
                                                    <i class="fa fa-phone mr-2"></i>+923205500003
                                                </p>
                                            </div>
                                            @*<div class="kt-callout__action">
                                                <a href="#" data-toggle="modal" data-target="#kt_chat_modal" class="btn btn-custom btn-bold btn-upper btn-font-sm  btn-success">Make Call</a>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end:: Section -->
                    </div>
                    
                </div>
            </div>
                        <!--end::Section-->
        </div>
    </div>
</div>

