@model AutoSolution.Entities.VehicleManufacturer

    <div class="modal fade" id="kt_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit/Update Vehicle Manufacturer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                @using (Html.BeginForm(new { id = "EditVehicle" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleManufacturerName, htmlAttributes: new { @class = "col-form-label" })
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-car-alt"></i></span></div>
                                        @Html.EditorFor(model => model.VehicleManufacturerName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.HiddenFor(model => model.VehicleManufacturerId)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark">Save Changes</button>
                    </div>
                }
            </div>
        </div>
    </div>