@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Manage Vehicle Manufacturers</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <button type="button" data-toggle="modal" data-target="#kt_modal_6" class="btn btn-dark"><i class="flaticon-plus"></i>Add New Vehicle Manufacturer</button>
        </div>
    </div>
</div>
<div class="modal fade" id="kt_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Vehicle Manufacturers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            @*<div class="modal-body">
                    @using (Html.BeginForm("AddProvince", "Province", FormMethod.Post, htmlAttributes: new { @class = "kt-form kt-form--label-right" }))
                    {
                        <div class="kt-portlet__body">
                            <div class="form-group ">
                                <label>@Html.DisplayNameFor(model => model.ProvinceName)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-location-arrow kt-font-dark"></i></span></div>
                                    @Html.EditorFor(model => model.ProvinceName), new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <span class="form-text text-muted">@Html.ValidationMessageFor(model => "")</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark">Save changes</button>
                        </div>
                    }
                </div>*@
        </div>
    </div>
</div>

<div id="tableContiner">
    @{Html.RenderAction("GetVehicleManufacturer");}
    </div>