@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Manage Vehicle Manufacturers</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <button type="button" data-toggle="modal" data-target="#kt_modal_6" class="btn btn-dark"><i class="flaticon-plus"></i>Add New Vehicle Manufacturer</button>
        </div>
    </div>
</div>

<!--begin modal-->
    <div id="AddNewVehicleManufactuere">
        @{Html.RenderAction("AddNew"); }
    </div>
<!--end modal-->
   
        <div id="tableContiner">
            @{Html.RenderAction("GetVehicleManufacturer");}
        </div>
   