
@{
    ViewBag.Title = "Index";
}

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title kt-align-center">About Us</h3>
            </div>
        </div>
    </div>
    <div class="kt-container">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon"><i class="flaticon-car"></i></span>
                    <h3 class="kt-portlet__head-title">About Auto Solution</h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                </div>
                <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title kt-align-center kt-mt-20">Our Team</h3>
                    
                </div>
            </div>
        </div>
    </div>
    