
@{
    ViewBag.Title = "Index";
}

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title kt-align-center">About Us</h3>
            </div>
        </div>
    </div>
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon"><i class="flaticon-car"></i></span>
                        <h3 class="kt-portlet__head-title">About Auto Solution</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-portlet__content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                    </div>
                    <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title kt-align-center kt-mt-20">Our Team</h3>
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="la la-puzzle-piece"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Basic Pricing Table
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="kt-pricing-1 kt-pricing-1--fixed">
                                    <div class="kt-pricing-1__items row">
                                        <div class="kt-pricing-1__item col-lg-4">
                                            <div class="kt-pricing-1__visual">
                                                <div class="kt-pricing-1__hexagon1"></div>
                                                <div class="kt-pricing-1__hexagon2"></div>
                                                <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-rocket"></i></span>
                                            </div>
                                            <span class="kt-pricing-1__price">Free</span>
                                            <h2 class="kt-pricing-1__subtitle">1 End Product License</h2>
                                            <span class="kt-pricing-1__description">
                                                <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                                                <span>sed do eiusmod elpors labore et dolore</span>
                                                <span>magna siad enim aliqua</span>
                                            </span>
                                            <div class="kt-pricing-1__btn">
                                                <button type="button" class="btn btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm">Get For Free</button>
                                            </div>
                                        </div>
                                        <div class="kt-pricing-1__item col-lg-4">
                                            <div class="kt-pricing-1__visual">
                                                <div class="kt-pricing-1__hexagon1"></div>
                                                <div class="kt-pricing-1__hexagon2"></div>
                                                <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-piggy-bank"></i></span>
                                            </div>
                                            <span class="kt-pricing-1__price">69<span class="kt-pricing-1__label">$</span></span>
                                            <h2 class="kt-pricing-1__subtitle">Business License</h2>
                                            <span class="kt-pricing-1__description">
                                                <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                                                <span>sed do eiusmod elpors labore et dolore</span>
                                                <span>magna siad enim aliqua</span>
                                            </span>
                                            <div class="kt-pricing-1__btn">
                                                <button type="button" class="btn btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                            </div>
                                        </div>
                                        <div class="kt-pricing-1__item col-lg-4">
                                            <div class="kt-pricing-1__visual">
                                                <div class="kt-pricing-1__hexagon1"></div>
                                                <div class="kt-pricing-1__hexagon2"></div>
                                                <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-gift"></i></span>
                                            </div>
                                            <span class="kt-pricing-1__price">889<span class="kt-pricing-1__label">$</span></span>
                                            <h2 class="kt-pricing-1__subtitle">Enterprice License</h2>
                                            <span class="kt-pricing-1__description">
                                                <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                                                <span>sed do eiusmod elpors labore et dolore</span>
                                                <span>magna siad enim aliqua</span>
                                            </span>
                                            <div class="kt-pricing-1__btn">
                                                <button type="button" class="btn btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm">Purchase</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
