<div class="alert alert-dark fade show" role="alert">
    <div class="alert-icon"><i class="flaticon-warning"></i></div>
    <div class="alert-text">
        We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the confirmation link.
        If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
        If you need assistance, please <a href="#" class="kt-font-boldest" style="color:white" >Contact us</a>.
    </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
    </div>
</div>
