@model AutoSolution.Services.ViewModel.ChkMV

@{
    ViewBag.Title = "chk";
}

<h2>chk</h2>

@using (Html.BeginForm("chk", "Registration", FormMethod.Post))
{
    foreach (var item in Model.ServiceCategoriesList)
    {
        @Html.CheckBoxFor(x => item.IsChecked)
        @item.ServiceCategoryUtilityName

    }
    <button id="kt_login_signin_submit" class="btn btn-dark btn-elevate kt-login__btn-primary float-md-right mb-5">Sign Up As a Service Provider</button>

}
