
@{
    ViewBag.Title = "UserVerification";
}
<link href="~/assets/css/demo1/pages/support-center/faq-3.css" rel="stylesheet" />
<link href="~/assets/css/demo1/pages/support-center/feedback.css" rel="stylesheet" />
<div class="kt-container  kt-grid__item kt-grid__item--fluid"style="background-image: url(/assets/Uzair/gallery_bg.jpg)">

    <!-- begin:: Section -->
    <div class="kt-sc-faq-3 kt-sc-feedback">
        <div class="kt-sc__title" style="color:white">
            @ViewBag.Message
        </div>
        <div class="kt-sc__subtitle" style="color:white">
            @ViewBag.body Sign In <br />
            <a href="@Url.Action("Index","SignIn")" class="btn btn-dark mt-4 px-5" style="color:white"><h4>Sign In</h4></a>
        </div>
        <div class="kt-sc__bg kt-margin-b-20">
        </div>
    </div>

    <!-- end:: Section -->
    <!-- begin:: Section -->
    <!-- end:: Section -->
    <!-- begin:: Section -->
    <!-- end:: Section -->
</div>
